.tag {
    padding: 10px 15px;
    color: #000000;
    cursor: default;
    font-size: 14px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .tag .close {
    font-size: 15px;
    cursor: pointer;
  }