body {
  font-family: "sans-serif"
}

.tag-container {
  border: 1px solid #ccc;
  padding: 20px;
}

.tag {
  background-color: #fbbd08;
  padding: 10px;
  color: #000;
  cursor: default;
  font-size: 14px;
  margin: 2px;
}

.tag .close {
  font-size: 12px;
  cursor: pointer;
}